In [3]:
import pandas as pd

In [81]:
dfNacion = pd.read_csv(r'.\Dataframe\proyecciones_jurisdicciones_2022_2040_base.csv', delimiter = ';')
#Dataframes con sus relaciones
dfEdad = pd.read_excel(r'.\Dataframe\Edad.xlsx')
dfProvincias = pd.read_excel(r'.\Dataframe\Provincias.xlsx')
dfSexo = pd.read_excel(r'.\Dataframe\Sexo.xlsx')

In [82]:
dfNacion.head(3)

   ID_Jurisdiccion  ID_Sexo  ID_Edad Poblacion  Fecha
0                2        1        0     72804   2022
1                2        1        5     96389   2022
2                2        1       10     96818   2022

In [83]:
resultado = dfProvincias.join(dfNacion, lsuffix = '_prov', rsuffix = '_df')

In [84]:
resultado = dfProvincias.set_index('ID_Jurisdiccion').join(dfNacion.set_index('ID_Jurisdiccion'))

In [85]:
resultado

,Provincia,ID_Sexo,ID_Edad,Poblacion,Fecha
ID_Jurisdiccion,,,,,
2,Ciudad Autónoma de Buenos Aires,1,0,72804,2022
2,Ciudad Autónoma de Buenos Aires,1,5,96389,2022
2,Ciudad Autónoma de Buenos Aires,1,10,96818,2022
2,Ciudad Autónoma de Buenos Aires,1,15,95087,2022
2,Ciudad Autónoma de Buenos Aires,1,20,108946,2022
...,...,...,...,...,...
94,"Tierra del Fuego, Antártida e Islas del_x000D_...",2,80,1774,2040
94,"Tierra del Fuego, Antártida e Islas del_x000D_...",2,85,698,2040
94,"Tierra del Fuego, Antártida e Islas del_x000D_...",2,90,227,2040
94,"Tierra del Fuego, Antártida e Islas del_x000D_...",2,95,48,2040
94,"Tierra del Fuego, Antártida e Islas del_x000D_...",2,100,7,2040

In [86]:
resultado2 = dfSexo.join(resultado, lsuffix = '_sex', rsuffix = '_dfr')

In [87]:
resultado2 = dfSexo.set_index('ID_Sexo').join(resultado.set_index('ID_Sexo'))

In [88]:
resultado2

,Genero,Provincia,ID_Edad,Poblacion,Fecha
ID_Sexo,,,,,
1,Mujer,Ciudad Autónoma de Buenos Aires,0,72804,2022
1,Mujer,Ciudad Autónoma de Buenos Aires,5,96389,2022
1,Mujer,Ciudad Autónoma de Buenos Aires,10,96818,2022
1,Mujer,Ciudad Autónoma de Buenos Aires,15,95087,2022
1,Mujer,Ciudad Autónoma de Buenos Aires,20,108946,2022
...,...,...,...,...,...
2,Varón,"Tierra del Fuego, Antártida e Islas del_x000D_...",80,1774,2040
2,Varón,"Tierra del Fuego, Antártida e Islas del_x000D_...",85,698,2040
2,Varón,"Tierra del Fuego, Antártida e Islas del_x000D_...",90,227,2040
2,Varón,"Tierra del Fuego, Antártida e Islas del_x000D_...",95,48,2040
2,Varón,"Tierra del Fuego, Antártida e Islas del_x000D_...",100,7,2040

In [89]:
resultado3 = dfEdad.join(resultado2, lsuffix = '_edad', rsuffix = '_dfe')

In [90]:
resultado3 = dfEdad.set_index('ID_Edad').join(resultado2.set_index('ID_Edad'))

In [91]:
resultado3

,Anios,Genero,Provincia,Poblacion,Fecha
ID_Edad,,,,,
0,0 a 4 años,Mujer,Ciudad Autónoma de Buenos Aires,72804,2022
0,0 a 4 años,Mujer,Ciudad Autónoma de Buenos Aires,67432,2023
0,0 a 4 años,Mujer,Ciudad Autónoma de Buenos Aires,62352,2024
0,0 a 4 años,Mujer,Ciudad Autónoma de Buenos Aires,58384,2025
0,0 a 4 años,Mujer,Ciudad Autónoma de Buenos Aires,56249,2026
...,...,...,...,...,...
100,100 y más años,Varón,"Tierra del Fuego, Antártida e Islas del_x000D_...",8,2036
100,100 y más años,Varón,"Tierra del Fuego, Antártida e Islas del_x000D_...",7,2037
100,100 y más años,Varón,"Tierra del Fuego, Antártida e Islas del_x000D_...",7,2038
100,100 y más años,Varón,"Tierra del Fuego, Antártida e Islas del_x000D_...",7,2039
100,100 y más años,Varón,"Tierra del Fuego, Antártida e Islas del_x000D_...",7,2040

In [104]:
resultado_filtrado = resultado3.copy()

In [105]:
resultado_filtrado['Poblacion'] = pd.to_numeric(resultado_filtrado['Poblacion'], errors='coerce').fillna(0)

In [106]:
resultado_filtrado.head(5)

              Anios Genero                        Provincia  Poblacion  Fecha
ID_Edad
0        0 a 4 años  Mujer  Ciudad Autónoma de Buenos Aires    72804.0   2022
0        0 a 4 años  Mujer  Ciudad Autónoma de Buenos Aires    67432.0   2023
0        0 a 4 años  Mujer  Ciudad Autónoma de Buenos Aires    62352.0   2024
0        0 a 4 años  Mujer  Ciudad Autónoma de Buenos Aires    58384.0   2025
0        0 a 4 años  Mujer  Ciudad Autónoma de Buenos Aires    56249.0   2026

In [107]:
promedio_agregado = resultado_filtrado.groupby(['Provincia', 'Anios', 'Genero'])['Poblacion'].mean().reset_index()

In [108]:
promedio_agregado = promedio_agregado.rename(columns={'Poblacion': 'PoblacionPromedio'})

In [109]:
promedio_agregado['PoblacionPromedio'] = promedio_agregado['PoblacionPromedio'].round(0).astype(int)

In [110]:
promedio_agregado.head(50)

       Provincia           Anios Genero  PoblacionPromedio
0   Buenos Aires      0 a 4 años  Mujer             403491
1   Buenos Aires      0 a 4 años  Varón             430105
2   Buenos Aires    10 a 14 años  Mujer             545836
3   Buenos Aires    10 a 14 años  Varón             586779
4   Buenos Aires  100 y más años  Mujer               4120
5   Buenos Aires  100 y más años  Varón               1225
6   Buenos Aires    15 a 19 años  Mujer             625361
7   Buenos Aires    15 a 19 años  Varón             673051
8   Buenos Aires    20 a 24 años  Mujer             668943
9   Buenos Aires    20 a 24 años  Varón             715837
10  Buenos Aires    25 a 29 años  Mujer             651735
11  Buenos Aires    25 a 29 años  Varón             691747
12  Buenos Aires    30 a 34 años  Mujer             620903
13  Buenos Aires    30 a 34 años  Varón             650056
14  Buenos Aires    35 a 39 años  Mujer             602873
15  Buenos Aires    35 a 39 años  Varón             622048
16  Buenos Aires    40 a 44 años  Mujer             592990
17  Buenos Aires    40 a 44 años  Varón             604834
18  Buenos Aires    45 a 49 años  Mujer             593975
19  Buenos Aires    45 a 49 años  Varón             597015
20  Buenos Aires      5 a 9 años  Mujer             461749
21  Buenos Aires      5 a 9 años  Varón             492828
22  Buenos Aires    50 a 54 años  Mujer             573052
23  Buenos Aires    50 a 54 años  Varón             565504
24  Buenos Aires    55 a 59 años  Mujer             531606
25  Buenos Aires    55 a 59 años  Varón             511095
26  Buenos Aires    60 a 64 años  Mujer             475026
27  Buenos Aires    60 a 64 años  Varón             439119
28  Buenos Aires    65 a 69 años  Mujer             410974
29  Buenos Aires    65 a 69 años  Varón             356618
30  Buenos Aires    70 a 74 años  Mujer             353140
31  Buenos Aires    70 a 74 años  Varón             280970
32  Buenos Aires    75 a 79 años  Mujer             291123
33  Buenos Aires    75 a 79 años  Varón             207866
34  Buenos Aires    80 a 84 años  Mujer             215010
35  Buenos Aires    80 a 84 años  Varón             132571
36  Buenos Aires    85 a 89 años  Mujer             134244
37  Buenos Aires    85 a 89 años  Varón              68420
38  Buenos Aires    90 a 94 años  Mujer              65236
39  Buenos Aires    90 a 94 años  Varón              26605
40  Buenos Aires    95 a 99 años  Mujer              21091
41  Buenos Aires    95 a 99 años  Varón               6920
42     Catamarca      0 a 4 años  Mujer              10939
43     Catamarca      0 a 4 años  Varón              11252
44     Catamarca    10 a 14 años  Mujer              13998
45     Catamarca    10 a 14 años  Varón              14178
46     Catamarca  100 y más años  Mujer                 99
47     Catamarca  100 y más años  Varón                 47
48     Catamarca    15 a 19 años  Mujer              15633
49     Catamarca    15 a 19 años  Varón              15982

In [111]:
from sqlalchemy import create_engine

In [112]:
sqlserver_url = (
    'mssql+pyodbc://sa:123456@./Personas?'
    'driver=ODBC+Driver+17+for+SQL+Server'
)

In [113]:
db_conexion = create_engine(sqlserver_url)

In [116]:
try:#Verificamos conexion
    db_conexion.connect()
except Exception as e:
    print("No se conecto")

In [117]:
df = promedio_agregado

In [118]:
df.to_sql(name='Personas', 
              con=db_conexion, 
              if_exists='replace', # Eliminamos si exite y cargamos con nuevos datos
              index=False)

484